@model CleanArch.Mvc.ViewModels.AddNewPasswordViewModel

@{
    //ViewData["Title"] = "Add new Password";
    Layout = "~/Views/Shared/_Login.cshtml";
   // string s = Context.Request.Query["token"].ToString();

}
<div style="width:50%">
    <div class="block-center mt-4 w-100" style="width:40%">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                    @*<img class="block-center rounded" src="~/images/logo.jfif" alt="Image" />*@
                </a>
            </div>
           
            <div class="card-body">
                <p class="text-center py-2">ADD NEW PASSWORD</p>
                <form class="mb-3" id="loginForm" novalidate="novalidate" action="AddNewPassword" method="post">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <label class="col-form-label">Password *</label>
                            <input class="form-control" id="id-password" type="password" asp-for="Password" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <label class="col-form-label">Confirm Password *</label>
                            <input class="form-control" type="password" name="confirmPassword" required="required" data-parsley-equalto="#id-password" />
                        </div>
                    </div>
                    <input hidden asp-for="Token" value="@Context.Request.Query["token"]" />
                  
                    <input type="submit" class="btn btn-block btn-primary mt-3"
                           value="Register"
                           onclick="location.href='@Url.Action("AddNewPassword","Account")'" />
                </form>
            </div>
        </div>
        <!-- END card-->
        <div class="p-3 text-center">
            <span class="mr-2">&copy;</span>
            <span>2020</span>
            <span class="mr-2">-</span>
            <span>My Template, INS Admin Template </span>

        </div>
    </div>
</div>
@section Scripts {

    <environment names="Development">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/parsleyjs/dist/parsley.js"></script>
    </environment>

}


