@model CleanArch.Mvc.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div style="width:50%">
    <div class="block-center mt-4 w-100" style="width:40%">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                    @*<img class="block-center rounded" src="~/images/logo.jfif" alt="Image" />*@
                </a>
            </div>
            <div class="card-body">
                <p class="text-center py-2">SIGN IN TO CONTINUE.</p>
                <form class="mb-3" id="loginForm" novalidate="novalidate" action="Login" method="post">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" id="exampleInputEmail1" asp-for="Email" type="email" placeholder="Enter email" autocomplete="off" required="required" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" id="exampleInputPassword1" name="password" type="password" placeholder="Password" required="required" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-lock"></em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div><a href='@Url.Action("ChangePassword","Account")'>Forgot Password?</a></div>
                    <button class="btn btn-block btn-primary mt-3" type="submit">Login</button>
                    <input type="button" class="btn btn-block btn-primary mt-3"
                           value="Register"
                           onclick="location.href='@Url.Action("Register","Account")'" />
                </form>
            </div>
        </div>
        <!-- END card-->
        <div class="p-3 text-center">
            <span class="mr-2">&copy;</span>
            <span>2020</span>
            <span class="mr-2">-</span>
            <span>My Template, INS Admin Template </span>

        </div>
    </div>
</div>




